<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BlogEntry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
	<h1>Blog Post</h1>
    <form action="#" th:action="@{/blogentry}" th:object="${blogentry}" method="post">
            <p>Date(mm/dd/yyyy): <input type="text" th:field="*{date}" th:required="required" /></p>
            <p>Mood: <input type="text" th:field="*{mood}" th:required="required" /></p>
            <p>Blog Entry(Max 1500 Characters):</p> 
            <p><textarea rows = "15" cols="100" th:field="*{blogEntry}" th:required="required" ></textarea></p>
            
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
        
        <p><a th:href="@{/homepage}">Back to Homepage</a></p>
    </body>
</html>


