<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RegisterForCalendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
	<h1>Register</h1>
    <form action="#" th:action="@{/register}" th:object="${register}" method="post">
            <p>Email Address: <input type = "text" th:field="*{email}"/></p>   
            <p>Username: <input type="text" th:field="*{username}" /></p>
            <p>Password: <input type="text" th:field="*{password}" /></p>
            <p>Confirm Password: <input type="text" th:field="*{confirmPassword}" /></p>
             
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html> 